body{
    margin:0;
}

a{
    text-decoration: none;
}

/* ----Cabecera (Header) ----*/
.Cabecera{
    background-color: #010101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.Cabecera__logo{
    width: 100%;
}

.Cabecera__logo img{
    width: 100%;
    height: auto;
}

.Cabecera__menu{
    width: 100%;
}

.Cabecera__menu__lista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Cabecera__menu__lista__enlace{
    margin: 1.1rem;
    color: aliceblue;
    font-size: 1.2rem;
    text-decoration: none;
}

.Cabecera__menu__lista__enlace:hover{
    color:greenyellow;
}
/* ---- Principal (Body) ----*/